<div class="reply row justify-content-center">
  <div class="col-10">
    <form action="/reply_real_update/<%= @one_reply.id %>" method="POST">
      <div class="row pl-4">
        <label for="exampleTextarea">댓글 수정</label>
      </div>
      <div class="form-group">
          <textarea class="form-control" rows="2" id="content" name="content"><%= @one_reply.content %></textarea>
          <!--name=""은 비둘기 이름-->
      </div>
      <div class="form-group row justify-content-end my-2">
        <input class="btn btn-outline-danger"  type="submit" value="Edit">
      </div>
    </form>
  </div>
</div>